# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
alx-project-0x07/node_modules
alx-project-0x07/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
alx-project-0x07/coverage

# next.js
alx-project-0x07/.next/
alx-project-0x07/out/

# production
alx-project-0x07/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
